__fixtures__
dist
node_modules
.yarn
build
coverage
jest.config.js
jest.transform.js
examples/

packages/lqip-loader/lib/
packages/docusaurus/lib/
packages/docusaurus-*/lib/*
packages/docusaurus-*/lib-next/
packages/docusaurus-plugin-pwa/copyUntypedFiles.js
packages/docusaurus-plugin-ideal-image/copyUntypedFiles.js
packages/docusaurus-theme-search-algolia/copyUntypedFiles.js

packages/create-docusaurus/lib/*
packages/create-docusaurus/templates/facebook/.eslintrc.js
