__fixtures__
dist
node_modules
.yarn
build
coverage
jest.config.js
jest.transform.js
website/
scripts
examples/

packages/docusaurus/lib/
packages/docusaurus-*/lib/*
packages/docusaurus-*/lib-next/
packages/docusaurus-plugin-ideal-image/copyUntypedFiles.js

packages/docusaurus-init/templates/facebook/.eslintrc.js

examples/bootstrap/babel.config.js
examples/bootstrap/docusaurus.config.js
examples/bootstrap/sidebars.js
examples/bootstrap/src/pages/index.js
examples/classic/babel.config.js
examples/classic/docusaurus.config.js
examples/classic/sidebars.js
examples/classic/src/pages/index.js
examples/facebook/.eslintrc.js
