.DS_Store
.vscode
.idea
*.code-workspace

node_modules

.eslintcache

yarn-error.log
build
.docusaurus
.cache-loader
types
packages/docusaurus-utils/lib/
packages/docusaurus/lib/
packages/docusaurus-init/lib/
packages/docusaurus-plugin-content-blog/lib/
packages/docusaurus-plugin-content-docs-legacy/lib/
packages/docusaurus-plugin-content-pages/lib/
