.DS_Store
.vscode
.idea
*.iml
*.code-workspace
.changelog

node_modules
.yarn

.eslintcache

yarn-error.log
build
coverage
.docusaurus
.cache-loader
types
test-website

packages/docusaurus/lib/
packages/docusaurus-*/lib/*
!packages/docusaurus-1.x/lib/*
packages/docusaurus-1.x/lib/core/metadata.js
packages/docusaurus-1.x/lib/core/MetadataBlog.js
packages/docusaurus-*/lib-next/

website/netlifyDeployPreview/*
!website/netlifyDeployPreview/index.html
!website/netlifyDeployPreview/_redirects

website-1.x-migrated

website/i18n/**/*
#!website/i18n/fr
#!website/i18n/fr/**/*
