dist
node_modules
.yarn
build
coverage
.docusaurus
.idea

.svg
*.svg

jest/vendor

packages/lqip-loader/lib/
packages/docusaurus/lib/
packages/docusaurus-*/lib/*
packages/create-docusaurus/lib/*
packages/create-docusaurus/templates/*/docusaurus.config.js
packages/eslint-plugin/lib/
packages/stylelint-copyright/lib/
__fixtures__

website/i18n
website/versions.json
website/docusaurus.config.js
website/versioned_sidebars/*.json

examples/
website/static/katex/katex.min.css

website/changelog
website/_dogfooding/_swizzle_theme_tests
website/_dogfooding/_asset-tests/badSyntax.js
website/_dogfooding/_asset-tests/badSyntax.css
