/** courtesy of https://github.com/tanhauhau/tanhauhau.github.io/commit/291663d10cc7838d67392acb6a28a04a655603a6 */
.dark-mode{
  position: relative;
  z-index: 1;
  cursor: pointer;

  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-width: 2px;
  user-select: none;
  overflow: hidden;
}
.dark-mode > input {
  display: none;
}
.dark-mode > span {
  font-size: 30px;
  line-height: 30px;
  margin-top: 2px;
  position: absolute;
  animation-duration: 200ms;
  animation-timing-function: ease-out;
}
@keyframes sun {
  0% {
    transform: translateY(120%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes sun-dark {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-120%);
  }
}
@keyframes moon {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-120%);
  }
}
@keyframes moon-dark {
  0% {
    transform: translateY(120%);
  }
  100% {
    transform: translateY(0);
  }
}

.dark-mode .sun {
  animation-name: sun;
  transform: 0;
}
.dark-mode .moon {
  animation-name: moon;
  transform: translateY(-120%);
}
.dark-mode > input:checked + .sun {
  animation-name: sun-dark;
  transform: translateY(-120%);
}
.dark-mode > input:checked + .sun + .moon {
  animation-name: moon-dark;
  transform: translateY(0);
}