/* TODO: remove this css because it's only temporary until we revamp index.js */
:root {
  --dark-grey: rgb(48, 56, 70);
  --first-screen-main-section-height: calc((100vh - 60px - 60px) * .6);
  --first-screen-secondary-section-height: calc((100vh - 60px - 60px) * .4);
}

.header {
  background: var(--dark-grey);
  color: white;
  padding: 1rem 0;
}
.header h1 {
  font-size: 3rem;
}

/** 
 * Highlights 
 * - secondary section on the first screen
 * - leaving a space equal to footer to indicate more content
 */

.highlights {
  background: #efefef;
  display: flex;
  align-items: center;
}

.highlight {
  text-align: center;
}
.highlight img {
  height: 200px;
  width: 200px;
}
.highlight p {
  text-align: left;
}

@media screen and (min-width: 768px) {
  .header {
    height: var(--first-screen-main-section-height);
  }
  .highlights {
    height: var(--first-screen-secondary-section-height);
  }
}

/*
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/