/* TODO: remove this css because it's only temporary until we revamp index.js */
:root {
  --dark-grey: rgb(48, 56, 70);
  --first-screen-main-section-height: calc((100vh - 60px - 60px) * .6);
  --first-screen-secondary-section-height: calc((100vh - 60px - 60px) * .4);
}

.header {
  background: var(--dark-grey);
  color: white;
  padding: 1rem 0;
}
.header h1 {
  font-size: 3rem;
}
.logo {
  animation-duration: 2s;
  animation-name: jackInTheBox;
  float: right;
}
@media screen and (min-width: 768px) { 
  .header {
    padding: 4rem 0;
  }
}

@keyframes jackInTheBox {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }

   50% {
    transform: rotate(-10deg);
  }

   70% {
    transform: rotate(3deg);
  }

   to {
    opacity: 1;
    transform: scale(1);
  }
}

/** 
 * Highlights 
 * - secondary section on the first screen
 * - leaving a space equal to footer to indicate more content
 */

.highlights {
  background: #efefef;
  display: flex;
  align-items: center;
}

.highlight {
  text-align: center;
}
.highlight img {
  height: 200px;
  width: 200px;
}
.highlight p {
  text-align: left;
}

@media screen and (min-width: 768px) {
  .header {
    height: var(--first-screen-main-section-height);
  }
  .highlights {
    height: var(--first-screen-secondary-section-height);
  }
}

/** 
 * Features
 */
.features {
  padding-top: 4rem;
}