:root {
  --first-screen-main-section-height: calc((100vh - 60px - 60px) * .6);
  --first-screen-secondary-section-height: calc((100vh - 60px - 60px) * .4);
}

.header {
  color: white;
  padding: 1rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.buttons  {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons iframe {
  margin-left: 1rem;
}
.logo {
  position: absolute;
  bottom: -80px;
  left: 20px;
  animation-duration: 2s;
  animation-name: jackInTheBox;
}
@media screen and (min-height: 900px) {
  .buttons {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 400px) {
  .header {
    /* display mainly the header section */
    height: calc(100vh - 120px);
  }
}
@media screen and (max-width: 799px) {
.header {
    /* display just one feature */
    height: calc(100vh - 310px);
  }
}
@media screen and (min-width: 800px) { 
  .header {
    padding: 4rem 0;
    height: var(--first-screen-main-section-height);
  }
}

@keyframes jackInTheBox {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }

   50% {
    transform: rotate(-10deg);
  }

   70% {
    transform: rotate(3deg);
  }

   to {
    opacity: 1;
    transform: scale(1);
  }
}

/** 
 * Highlights 
 * - secondary section on the first screen
 * - leaving a space equal to footer to indicate more content
 */
.highlights {
  background: var(--ifm-color-black-alpha-10);
  display: flex;
  align-items: center;
  width: 100%;
}

.highlight {
  text-align: center;
}
.highlight img {
  height: 200px;
  width: 200px;
}
.highlight p {
  text-align: left;
}

/* TODO: move all of .col4 to infima .col--4 */
.col4 {
  padding-left: calc(var(--ifm-spacing-horizontal) / 2);
  padding-right: calc(var(--ifm-spacing-horizontal) / 2);
  min-width: calc(800px / 3 - var(--ifm-spacing-horizontal));
}
@media screen and (max-width: 519px /* smaller than 2 * min width */) {
  .col4 {
    width: 100%;
  }
}
@media screen and (min-width: 520px) and (max-width: 799px) {
  .highlights {
    padding-bottom: 2rem;
  }
  .col4:first-child {
    width: 100%;
  }
  .col4:not(:first-child) {
    width: calc(50% - var(--ifm-spacing-horizontal) / 2);
  }
}
@media screen and (min-width: 800px) {
  .col4 {
    width: calc(100% / 3 - var(--ifm-spacing-horizontal));
  }
.highlights {
    height: var(--first-screen-secondary-section-height);
  }
}

/** 
 * Features
 */
.features {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.features h2 {
  padding-bottom: 2rem;
}
@media screen and (max-width: 519px) {
  .feature {
    padding-bottom: 2rem;
  }
  .feature h3 {
    padding: 2rem 0 1rem;
  }
}
@media screen and (min-width: 520px) {
  .feature {
    display: grid;
    grid-template-rows: minmax(2rem, 1fr) 4fr;
    grid-column-gap: 2rem;
    grid-row-gap: 0;
    padding-bottom: 4rem;
  }
  .feature:nth-child(2n) {
    grid-template-columns: auto 200px;
  }
  .feature:nth-child(2n + 1) {
    grid-template-columns: 200px auto;
  }
  .feature img {
    grid-row: 1 / span 2;
  }
  .feature:nth-child(2n) img {
    grid-column: 2;
  }
  .feature:nth-child(2n+1) img {
    grid-column: 1;
  }
  .feature h3 {
    margin-bottom: 0;
  }
}

.feature p a:only-child {
  margin-top: 2rem;
}

/** TODO: Move to infima and don't */
:global(.navbar) {
  white-space: nowrap;
}
:global(.navbar__brand) {
  flex-shrink: 0;
}
:global(.navbar__inner) {
  flex-wrap: nowrap;
}
:global(.navbar__item) {
  padding: var(--ifm-navbar-item-padding-vertical) var(--ifm-navbar-item-padding-horizontal);
}
@media screen and (max-width: 1000px) {
  :global(.navbar__item) {
    padding: var(--ifm-navbar-item-padding-vertical) 2vmin;
  }
}
:global(.navbar__link) {
  padding: 0 !important;
}