:root {
  /* leaving a space equal to footer to indicate more content */
  --first-screen-main-section-height: calc((100vh - 60px - 60px) * .6);
  --first-screen-secondary-section-height: calc((100vh - 60px - 60px) * .4);
}

.header {
  color: white;
  padding: 1rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.buttons  {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons iframe {
  margin-left: 1rem;
}
@media screen and (min-height: 900px) {
  .buttons {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 400px) {
  .header {
    /* display mainly the header section */
    height: calc(100vh - 120px);
  }
}
@media screen and (max-width: 799px) {
.header {
    /* display just one highlight */
    height: calc(100vh - 310px);
  }
}
@media screen and (min-width: 800px) and (min-height: 1000px) { 
  .header {
    padding: 4rem 0;
    height: var(--first-screen-main-section-height);
  }
}

/** 
 * Highlights 
 * - secondary section on the first screen
 */
.highlights {
  background: var(--ifm-color-black-alpha-10);
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 350px;
}

.highlight {
  text-align: center;
}
.highlight img {
  height: 200px;
  width: 200px;
}
.highlight p {
  text-align: left;
}

@media screen and (min-width: 520px) and (max-width: 799px) {
  .highlights {
    padding-bottom: 2rem;
  }
}
@media screen and (min-width: 800px) {
  .highlights {
    height: var(--first-screen-secondary-section-height);
  }
}