.codeBlockWrapper {
  position: relative;
}

.codeBlockWrapper:hover > .copyButton {
  visibility: visible;
  opacity: 1;
}

.copyButton {
  background: rgb(1, 22, 39);
  border: 1px solid rgb(214, 222, 235);
  border-radius: var(--ifm-global-radius);
  color: rgb(214, 222, 235);
  cursor: pointer;
  line-height: 12px;
  opacity: 0;
  outline: none;
  padding: 4px 8px;
  position: absolute;
  right: var(--ifm-pre-padding);
  top: var(--ifm-pre-padding);
  visibility: hidden;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out,
    bottom 200ms ease-in-out;
}

.codeBlock {
  overflow: auto;
  display: block;
  padding: 0;
  font-size: inherit;
}

.codeBlockLines {
  border-radius: 0;
  margin-bottom: 0;
  float: left;
  min-width: 100%;
  padding: var(--ifm-pre-padding);
}
