.modal {
  width: 550px;
  height: 60vh;
  margin: 60px auto;
  overflow-y: auto;
}

.result {
  height: 90%;
  overflow: auto;
  scrollbar-width: thin;
}

.search {
  display: flex;
  justify-content: space-around;
  height: 7%;
  margin: 10px;
}

.data_node:hover {
  text-decoration: none !important;
}

.page {
  padding-left: 3px;
}

.search_input {
  width: 60%;
  border-radius: 0;
  border: black solid 2px;
}

.overlay {
  background-color: rgba(101, 108, 133, 0.8);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 200;
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.data_node {
  border: none;
  background-color: transparent;
  font-size: 20px;
  width: 100%;
  height: 100%;
}

.search_icon {
  width: 10%;
}

.group {
  margin-left: 0;
  padding: 0;
}

.search_item {
  border-radius: 5px;
  display: flex;
  justify-content: start;
  margin-left: 0;
  padding: 10px 5px;
  margin: 5px 0;
}

.search_item:hover {
  background-color: var(--ifm-link-color);
}

.highlight {
  text-decoration: underline;
}

.search_item:hover > a {
  color: white !important;
}

.header {
  display: flex;
  justify-content: space-between;
}
