name: Continuous Releases

on:
  push:
    branches:
      - main
      - docusaurus-v**
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  release:
    name: Continuous Releases
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: lts/*
          cache: yarn

      - name: Installation
        run: yarn || yarn || yarn

      - name: Build packages
        run: yarn build:packages

      - name: Initialize fresh templates
        run: |
          yarn create-docusaurus template/docusaurus-classic-js classic --javascript -p npm
          yarn create-docusaurus template/docusaurus-classic-ts classic --typescript -p npm

      - name: Release
        run: npx pkg-pr-new@0.0.20 publish './packages/*' --template './template/*' --compact --comment=off
