name: Continuous Releases

on:
  push:
    branches:
      - main
      - docusaurus-v**
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  release:
    name: Continuous Releases
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: lts/*
          cache: yarn

      - name: Installation
        run: yarn || yarn || yarn

      - name: Build packages
        run: yarn build:packages

      - name: Initialize fresh templates
        run: |
          yarn create-docusaurus template/docusaurus-classic-js classic --javascript -p npm
          yarn create-docusaurus template/docusaurus-classic-ts classic --typescript -p npm

      - name: Release
        run: npx pkg-pr-new@0.0.20 publish './packages/*' --template './template/*' --compact --comment=off
