name: Lint

on:
  pull_request:
    branches:
      - master

jobs:
  lint:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
      - name: Installation
        uses: bahmutov/npm-install@v1
        with:
          install-command: yarn
      - name: Lint
        run: yarn lint:ci
      - name: Prettier Code
        run: yarn prettier:diff
      - name: Prettier Docs
        run: yarn prettier-docs:diff
